@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    user-select: none;
    box-sizing: border-box;
    
}
body{
    background: #f1f1f125;
}

.containerModal {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000009c;
}

.modal {
    z-index: 9999;
    padding: 25px;
    
    background: #fff;
    width: 80%;
    height: 80vh;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.modal h3 {
    margin-bottom: 20px;
}

.btn_membro {
    border: none;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 6px;
    box-shadow: 0px 0px 3px #00000030;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: sticky;
    z-index: 999;
    top: 0;
    background: #fff;
    width: 100%;
    height: 70px;
    
}

header h1 {
    font-weight: 700;
    font-size: 25px;
    margin-left: 15px;
    line-height: 25px;
}

header span {
    font-weight: 300;

}

header button {
    display: flex;
    border: none;
    background: #fff;

}

main {
    font-size: 16px;
    font-weight: 300;
}

.info {
    width: 100%;
    border: none;
    height: 40px;
    font-size: 15px;
    color: #000;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-weight: 300;
}

.ref {
    margin-right: 21px;
    margin-bottom: 15px;
    /* border-bottom: 1px solid #77777750; */

}

.ref div {
    display: flex;
    align-items: baseline;
    font-weight: 400;
}

.data {
    margin-right: 5px;
    font-size: 22px;
    font-weight: 700;
}

.data::after {
    content: "-";
    margin-left: 5px;
}


.vocais {
    display: flex;
}

.louvores {
    display: flex;
    margin-bottom: 15px;
}

.louvores div>span,
.instrumentos div>span,
.vocais div>span {
    padding: 0 5px;

}

.instrumentos {
    display: flex;
    margin-bottom: 5px;
}


.containerItem {
    background: #fff;
    padding: 15px 30px;
    box-shadow: 0px 3px 10px  #58585813;
    margin: 15px;
    border-radius: 0 10px 10px 0;
    
}

.ebd {
    border-left: 4px solid rgba(39, 128, 179,0.500);
}

.doutrina {
    border-left: 4px solid rgba(230, 215, 11, 0.500);
}

.louvorepregacao {
    border-left: 4px solid rgba(216, 77, 77, 0.500);
}

.oracao {
    border-left: 4px solid rgba(77, 216, 197, 0.500);
}
.vencido {
    border-left: 4px solid rgba(161, 161, 161, 0.500);
    box-shadow: none !important;
}

.extra {
    color: rgba(148, 148, 148, 0.500);
}

.me {
    font-weight: 500;
    color: #5fa71d;
}

.containerloader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

}

.loader {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    animation: spin .5s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}