@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: #222;
user-select: none;
}
.containerModal{
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000009c;
}
.modal{
    z-index: 9999;
    padding: 25px;
    box-sizing: border-box;
    background: #fff;
    width: 80%;
    height: 80vh;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}
.modal h3{
    margin-bottom: 20px;
}

.btn_membro {
    border: none;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 6px;
    box-shadow: 0px 0px 3px #00000030;
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: sticky;
    z-index: 999;
    top: 0;
    background:#fff;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
}

header h1{
    font-weight: 700;
    font-size: 20px;
    margin-left: 15px;
}

header span {
    font-weight: 300;

}

header button{
    display: flex;
    border: none;
    background: #fff;
    
}

main {
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
}
.info {
    width: 100%;
    border: none;
    height: 40px;
    font-size: 15px;
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-weight: 100;
}

.ref {
    margin-right: 21px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    /* border-bottom: 1px solid #77777750; */
    
}
.ref div{
    display: flex;
    font-weight: 500;
    
}

.data{
    margin-right: 15px;
}

.data::after{
    content: "-";
    margin-left: 15px;
}


.vocais {
    display: flex;
}

.louvores {
    display: flex;
    margin-bottom: 10px;
}
.louvores div >span, .instrumentos div> span, .vocais div>span {
    padding: 0 5px;
    
}

.instrumentos {
    display: flex;
    margin-bottom: 5px;
}


.containerItem {
    padding: 20px 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px #33333320;
    margin: 10px 5px;
}

.ebd {
    border-left: 6px solid rgba(39, 128, 179, 0.39);
    padding-left: 15px;
}

.doutrina {
    border-left: 6px solid rgba(230, 215, 11, 0.425);
    padding-left: 15px;
}
.louvorepregacao {
    border-left: 6px solid rgba(216, 77, 77, 0.507);
    padding-left: 15px;
}
.oracao {
    border-left: 6px solid rgba(77, 216, 197, 0.507);
    padding-left: 15px;
}

.extra {
    color: rgba(148, 148, 148, 0.623);
}

.me {
    font-weight: 500;
    color: #5fa71d;
}
.containerloader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

}
.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    animation: spin .5s linear infinite;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }