@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    user-select: none;
    box-sizing: border-box;
}

body {
    background: rgba(245, 245, 245, 0.24);
}


.info,
.obs,
footer p,
.btn_zero {
    color: rgb(138, 137, 137);
}

.scroll {
    display: flex;
    align-items: center;
    height: 0px;
    transition-duration: .3s;
    overflow: scroll;

}

.scroll::-webkit-scrollbar {
    overflow: hidden;
    width: 100%;

}

.btn_zero {
    height: 35px;
    border: none;
    text-transform: uppercase;
    background: #fff;
    padding: 0 15px;
    margin: 0 5px;
}

.btn_membro {
    color: #000;
    margin: 0 5px;
    padding: 0 15px;
    text-transform: uppercase;
    height: 35px;
    border: none;
    border-radius: 18px;
    box-shadow: 0px 3px 10px #58585817;
    background: #fff;
}

header {
    display: flex;
    flex-direction: column;
    position: sticky;
    z-index: 999;
    top: 0;
    background: #fff;
    width: 100%;

    transition: all .3s;
}


.topo {
    padding: 0 15px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(245, 245, 245, 0.24) 100%);
}


.container_mes {
    min-width: 60px;
    text-align: end;
}
.culto {
    font-weight: 500;
}

.select {
    display: flex;
    border: none;
    background: #fff;
    height: 50px;
    width: 50px;
    display: flex;
    margin-left: 10px;
    align-items: center;

}

main {
    font-size: 16px;
    font-weight: 300;
}

.info {
    width: 100%;
    text-align: center;
    padding: 0 20px;
    border: none;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.ref {
    margin-right: 21px;
    margin-bottom: 10px;

}

.ref div {
    display: flex;
    align-items: baseline;
    font-weight: 400;
}

.data {
    margin-right: 15px;
    font-size: 25px;
    font-weight: 600;
}

.data::after {
    content: "-";
    margin-left: 15px;
}


.vozesInstrumentos {
    display: flex;
    margin-left: -5px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.louvores {
    display: flex;
    margin-bottom: 20px;
}

.louvores span {
    display: block;
}
.louvores div span::before{
    content: "- ";
}

.vozesInstrumentos span {
    display: block;
    padding: 0 5px;
    
}

.louvores>span, .preludio>span {
    margin-right: 10px;

}


.containerItem {
    background: #fff;
    padding: 40px 25px;
    box-shadow: 0px 4px 10px #58585827;
    margin: 10px 15px;
    border-radius: 8px;
    border: .5px solid #97979746;
}


.me {
    font-weight: 500;
    color: #000;
}

.containerloader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

}

.loader {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
    animation: spin .5s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

footer {
    padding: 20px;
    margin: 30px 0;

}

footer p {
    text-align: center;
    font-weight: 300;
}

footer h3 {
    text-align: center;
    margin-top: 15px;
    color: #000;
}

.container_obs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.container_obs img {
    margin-right: 10px;
}

.obs {

    font-size: 15px;
    color: #333;
}
.item_obs {
    display: flex;
    flex-direction: column;
}
.obs::before{
    content: "- ";
}